header {
    background-color: rgba(18, 13, 6, 0.083);
}
nav{
    background-color: rgba(18, 13, 6, 0.083);
}
nav:hover{
    background-color: white;

}

main {
    background-color: rgba(18, 13, 6, 0.083);
}
footer {
    background-color: rgba(18, 13, 6, 0.083);
}
section {
    background-color: rgba(18, 13, 6, 0.083)
}
.title {
    color: red;
}

#list {
     color:red;
}

input:focus {
    background-color:rgba(18, 13, 6, 0.083);
}

li:first-child{
    color: black
}

nav,main,footer {
    border: 1px solid black

}
#one {
    margin: 110px;
}
#two {
    margin: ; 50px

}
#three {

    margin: 30px;
}
.title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.title {
    font-size: 40px;
    font-weight: 300;
}
#four {
text-align:justify
}
section {
    line-height: 30px;
}
header {
    line-height: 30px;
}